.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 35px;
  font-weight: 900;
  font-family: 'Roboto';
  color: #2d3a35;
  text-align: center;
}
.span {
  color: #c20a72;
}
.Para {
  font-size: 25px;
  font-weight: 300;
  font-family: 'Roboto';
  color: #2d3a35;
  text-align: center;
}

.button {
  cursor: pointer;
  outline: none;
  background-color: #007bff;
  color: #f1f5f8;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 8px;
}
